NODE_ENV="development"

NPM_TOKEN=""
NPM_CONFIG_TOKEN=""

# https://github.blog/security/supply-chain-security/introducing-npm-package-provenance/
PROVENANCE=""

CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_API_TOKEN=""

SOCKET_API_KEY=""
